<nav>
  <navigation-bar/>
</nav>
<main>
  <h2>Stream FAQs</h2>
  <section>
    <h3>General</h3>
    <h4>Is Sharie your real first name?</h4>
    <p>Yes, use the !sharie command. No it's not short for anything.</p>
    <h4>Pronouns?</h4>
    <p>She/her.</p>
    <h4>How old are you?</h4>
    <p>20.</p>
    <h4>When is your birthday?</h4>
    <p>March 8th.</p>
    <h4>Where are you from?</h4>
    <p>East coast United States.</p>
    <h4>What are the channel commands?</h4>
    <p>Check the about panel under the stream or use the !commands command for a full list.</p>
    <h4>When do you stream?</h4>
    <p>I post schedules in the <a href="https://discord.gg/T87Qst3W64" target="_blank">Discord</a> in the #schedule channel and in the about panel under the stream.</p>
    <h4>When did you start streaming?</h4>
    <p>My first stream was December 10th, 2022. I studied for my upcoming Intro to Computer Science final.</p>
    <h4>Where can I watch VODs?</h4>
    <p>I post VODs for every stream on my <a href="https://www.youtube.com/@shariemakesart" target="_blank">YouTube channel</a>.</p>

    <h3>Education and Career</h3>
    <h4>Where did you go to school/what did you study/when did you graduate?</h4>
    <p>I graduated from SUNY Albany with a B.S. in Computer Science, summa cum laude, in December 2024.</p>
    <h4>Did you do any internships?</h4>
    <p>Yes! I interned with the Griffiss Institute and Air Force Research Laboratory (AFRL) in the summer of 2024. I was a cybersecurity intern and completed a
    Blue Book (R) vulnerability assessment of electronic flight bags (EFB).</p>
    <h4>Do you have a job/what do you do now?</h4>
    <p>Yes, I work full time as an Associate Computer Scientist (civilian) for the Air Force.</p>
    <h4>Have you taken a class on _____?</h4>
    <p>Here are all the classes I have taken:</p>
    <ul>
      <li>Intro to Computer Science</li>
      <li>Data Structures</li>
      <li>Discrete Structures</li>
      <li>Principles of Programming Languages</li>
      <li>System Fundamentals</li>
      <li>Database Systems</li>
      <li>Software Engineering</li>
      <li>Linear Algebra</li>
      <li>Discrete Probability</li>
      <li>Design and Analysis of Algorithms</li>
      <li>Computer Architecture</li>
      <li>Operating Systems</li>
      <li>Computer Communication Networks</li>
      <li>Cryptography</li>
      <li>Numerical Methods</li>
      <li>Automata and Formal Languages</li>
      <li>Software Testing</li>
      <li>Independent Study - Programming Language Design and Compilers</li>
      <li>Capstone Project</li>
    </ul>

    <h3>Coding</h3>
    <h4>When did you start coding?</h4>
    <p>I picked up a Python book (Python Crash Course by Eric Matthes) in the summer of 2022 and taught myself the basics. In the fall of 2022 I started university
    where I began learning Java.</p>
    <h4>What languages do you know?</h4>
    <p>I would say I'm strongest with Java, Kotlin, Python, Rust, C, and C#. I am somewhat versed in HTML/CSS, Typescript, Go, and Scheme. I am always looking to
    experiment with new languages.</p>
    <h4>Will you ever learn _____?</h4>
    <p>Maybe! I hope to learn many things.</p>
    <h4>Which IDE do you use?</h4>
    <p>I mainly use Neovim. Here are some of the main plugins I use. No I will not be posting my dotfiles.</p>
    <ul>
      <li>status bar - lualine</li>
      <li>file exploration - neotree</li>
      <li>syntax highlighting - treesitter</li>
      <li>error highlighting - trouble</li>
      <li>todo highlighting - todo-comments</li>
      <li>lsp manager - mason</li>
      <li>code completion - nvim cmp</li>
      <li>lsp updates - fidget</li>
      <li>theme manager - themery</li>
    </ul>
    <p>I use Android Studio for mobile app development.</p>
    <h4>What is your IDE theme?</h4>
    <p>Use !theme or !colorscheme, I like to switch it up.</p>

    <h3>Art</h3>
    <h4>When did you start drawing?</h4>
    <p>Probably around 4 years old.</p>
    <h4>When did you start seriously drawing?</h4>
    <p>Sometime in middle school. My first Instagram post is from when I was 14.</p>
    <h4>Why does your username have "makesart" if you mostly code?</h4>
    <p>You don't think code is art? :(</p>
    <h4>What software do you use?</h4>
    <p>Krita and Aseprite.</p>
    <h4>Do you have a drawing tablet? Which one?</h4>
    <p>Huion Kamvas 16 (2021).</p>
    <h4>Do you take commissions?</h4>
    <p>Maybe! Shoot me a whisper on Twitch if you are interested.</p>

    <h3>Hardware and Software Specs</h3>
    <h4>PC</h4>
    <ul>
      <li>Motherboard: MSI B365M PRO-VH</li>
      <li>CPU: Intel Core i7-8700 X 12</li>
      <li>GPU: NVIDIA GeForce RTX 2070 Super</li>
      <li>Memory: 32 GiB</li>
      <li>Storage: 1 TB SSD</li>
      <li>OS: Ubuntu 24.04</li>
    </ul>
    <ul>
      <li>Keyboard: GMMK TKL</li>
      <li>Switches: Kailh Bronze</li>
      <li>Key Caps: GMMK GPBT Ocean</li>
    </ul>
    <h4>Streaming Equipment</h4>
    <ul>
      <li>Microphone: Blue Yeti</li>
      <li>Camera: 1080p EMEET Webcam</li>
      <li>Ring Light: El Gato</li>
      <li>Software: OBS</li>
      <li>Chatbot: custom made by me, check it out <a href="https://github.com/SharieRhea/SharieBot" target="_blank">here</a>.</li>
    </ul>

    <h3>Content Creation Milestones</h3>
    <ul id="content-milestones">
      <li><b>First stream:</b> December 10, 2022.</li>
      <li><b>Affiliate:</b> June 10, 2023.</li>
      <li><b>First YouTube video:</b> September 23, 2023.</li>
      <li><b>500 followers:</b> November 2, 2023.</li>
      <li><b>First hypetrain:</b> November 16, 2023.</li>
      <li><b>1000 followers:</b> March 12, 2024.</li>
      <li><b>500 YouTube subscribers:</b> April 16, 2024.</li>
    </ul>
  </section>
</main>
