<nav>
  <navigation-bar/>
</nav>
<main>
  <h2>So, who are you really?</h2>
  <section>
    <p>
      I grew up in upstate New York surrounded by nature and small, familiar town. Over time my <i>curious nature</i> has led me to try a plethora of hobbies including:
      digital and traditional art, reading, knitting, crocheting, hiking, skiing, powerlifting, and riding motorcycles. While my motivation for many of these activities
      ebbs and flows, my one constant passion has always been <i>problem-solving</i>. Programming exercises this in a way that no other hobby can. From building mobile
      apps to applying algorithms and data structures the thrill of solving a tough coding challenge never gets old.
    </p>
    <p>
      In high school I pursued a rigorous <a href="https://www.ibo.org/programmes/diploma-programme/" target="_blank">International Baccalaureate (IB) Diploma</a> to
      get a head start in college. I walked away with <i>53 college credits</i> and a 101.1 GPA. In addition, I began my journey of student leadership and managing a
      challenging workload on top of maintaining the hobbies I enjoy.
    </p>
    <p>
      Currently, I am a senior studying Computer Science at <a href="https://www.albany.edu/" target="_blank">SUNY Albany</a> with an expected graduation date of
      December 2024. I work as a tutor for 300-level computer science courses and am part of the <a href="https://www.viceroyscholars.org/" target="_blank">
      Virtual Institutes for Cyber and Electromagnetic Spectrum Research and Employ (VICEROY)</a> program with the Department of Defense. Thanks to this program
      I was able to intern with the Griffiss Institute and Air Force Research Laboratory (AFRL) during the summer of 2024 and even visit the <i>Pentagon</i>.
    </p>
  </section>
</main>
