:host ::ng-deep .p-button {
  border-radius: 12px;
}

:host ::ng-deep .p-button-icon {
  font-size: 2rem;
}

:host ::ng-deep .phone .p-button-icon {
  font-size: 1.5rem;
}

:host ::ng-deep .phone .p-button {
  font-size: 1.2rem;
}
