@import url("https://fonts.googleapis.com/css?family=Space Mono");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");

* {
  font-family: Poppins, sans-serif;
}

body {
  background: linear-gradient(var(--gray-900), var(--gray-800)) fixed;
  margin: 0;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

header {
  width: 100%;
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 8rem;
  color: var(--primary-color);
  margin: 0;
}

.phone h1 {
  font-size: 3rem;
}

.tablet h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 5rem;
  margin-bottom: 0;
}

.phone h2 {
  font-size: 2rem;
}

.tablet h2 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}

.phone p {
  font-size: 1rem;
}

.tablet p {
  font-size: 1.1rem;
}

main ul {
  font-size: 1.2rem;
}

main .phone ul {
  font-size: 1rem;
}

main .tablet ul {
  font-size: 1.1rem;
}

.subtitle {
  font-size: 2rem;
  font-style: italic;
}
