:host, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 80%;
}

.phone .subtitle, .tablet .subtitle {
  display: none;
}

#social-links {
  display: flex;
  gap: 1rem;
}

#desktop-project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
